@import '../_includes';

//TODO
// 1. Fix errors in console (Owl Carousel)
// 2. Add preloader on page load

//- Mobile-portrait
//- ----------------------------------------------

// Header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & a {
    & .logo {
      padding-left: 0.5em;
      height: 35px;
    }
  }
}

// Navbar
nav {
  transform: none !important;
  & .menu {
    cursor: pointer;
  }

  & ul {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in;
    background: #ffffff;
    height: 100vh;
    padding-top: 5em;
    z-index: 100;

    & li a {
      font-size: 1.5em;
      font-weight: bold;
      padding: 1em;
      display: block;
      color: #2b2a35;
    }

    & .nav {
      &__exit a {
        position: absolute;
        top: -5px;
        right: 5px;
        color: #2b2a35;
      }

      &__item--active a {
        color: #7552f6;
      }
    }
  }
}

// Hero
.hero__content {
  width: 65%;
  margin: 0 auto;
  align-items: flex-end;

  & .hero__description {
    margin-bottom: 0.9em;
  }
}

// Sponsors
.hero__sponsors {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2em auto;

  & .hero__sponsor-img {
    margin: 0;
  }

  #svg-behance {
    fill: #d4d4d4;
    transition: all 0.2s ease-out;
  }

  #svg-dribbble {
    fill: #d4d4d4;
    transition: all 0.2s ease-out;
  }

  #svg-squarespace {
    fill: #d4d4d4;
    transition: all 0.2s ease-out;
  }

  #svg-shopify {
    fill: #d4d4d4;
    transition: all 0.2s ease-out;
  }

  #svg-paypal {
    fill: #d4d4d4;
    transition: all 0.2s ease-out;
  }

  #svg-adobe {
    fill: #d4d4d4;
    transition: all 0.2s ease-out;
  }

  #svg-behance:hover {
    fill: #969a9e;
    transition: all 0.2s ease-out;
  }

  #svg-dribbble:hover {
    fill: #969a9e;
    transition: all 0.2s ease-out;
  }

  #svg-squarespace:hover {
    fill: #969a9e;
    transition: all 0.2s ease-out;
  }

  #svg-shopify:hover {
    fill: #969a9e;
    transition: all 0.2s ease-out;
  }

  #svg-paypal:hover {
    fill: #969a9e;
    transition: all 0.2s ease-out;
  }

  #svg-adobe:hover {
    fill: #969a9e;
    transition: all 0.2s ease-out;
  }
}

.left p {
  color: #969a9e;
}

.left h2 {
  padding: 0.9em 0;
}

// Services
.services {
  & .services__content-main {
    width: 75%;
    margin: 0 auto;
  }

  & .services__content-description {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  &__subtitle span {
    color: #7552f6;
  }

  // Soft Shadow
  &__card {
    width: 100%;
    margin: 2em auto;
    padding: 2em;
    background: white;
    border-radius: 0.4em;
    text-align: center;
    border-top: #7552f6 6px solid;
    transition: all 0.2s ease-out;
    @include soft-shadow;

    & h3 {
      font-size: 1.3em;
      font-weight: 700;
      padding: 1em 0;
    }

    & p {
      color: #969a9e;
      padding-bottom: 1.8em;
    }
  }

  &__card:hover {
    transform: translateY(-20px) !important;
  }

  &__service-img {
    width: 70%;
    margin: 0 auto;
  }
}

// Projects
.projects {
  & .projects__content-main {
    width: 75%;
    margin: 0 auto;
  }

  &__subtitle span {
    color: #7552f6;
  }

  &__work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3.5em;

    & .cell {
      flex: 0 0 32%;
      margin: 1em auto;
      background-color: #ffffff;
      box-shadow: horizontal vertical color;
      box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

      & .projects-img {
        border-radius: 0.4em;
        background-position: center;
        transition: all 0.2s ease-out;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        filter: grayscale(100%);
      }

      & .projects-img:hover {
        filter: grayscale(0%);
      }
    }
  }
}

// Testimonials

.testimonials {
  & .testimonials__content-main {
    width: 75%;
    margin: 0 auto;
  }

  &__qoute {
    color: #7552f6;
    padding-bottom: 0.5em;
  }

  & h2 {
    padding-bottom: 1em;
  }

  &__subtitle span {
    color: #7552f6;
  }

  // Soft Shadow
  &__card {
    width: 100%;
    margin: 3.5em auto;
    background: white;
    border-radius: 0.4em;
    text-align: center;
    border-top: #7552f6 6px solid;
    transition: all 0.2s ease-out;
    @include soft-shadow;

    & span img {
      position: absolute;
      width: 60px !important;
      height: 60px;
      background: white;
      margin-top: -2em;
      border-radius: 50%;
      background: #e6c9ff;
      margin-left: auto;
      margin-right: auto;
      border: #7552f6 4px solid;
      left: 0;
      right: 0;
      display: none;
    }

    & h3 {
      font-size: 1.4em;
      font-weight: 700;
      padding: 2em 0 0.5em;
    }

    & h4 {
      font-weight: 700;
      padding: 0 0 1em;
    }

    & p {
      color: #969a9e;
      padding: 0 1.8em 3em;
    }
  }
}

// Footer
.footer {
  background-color: #7552f6;
  color: #fff;

  &__content-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }

  &__legal {
    text-align: left;

    & .hr {
      margin-top: 2em;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 5px;
    }

    & > p {
      padding: 2em 0 1em 0;
    }
  }

  &__info {
    padding: 2em 0.5em 0.5em;

    & h3 {
      font-size: 1.4em;
      font-weight: 700;
    }

    & > p {
      padding: 1em 0 1em 0;
    }

    &__contact {
      & p {
        padding-bottom: 2em;
      }
    }
  }

  &__info:first-child {
    padding-right: 2em;
  }

  &__contact-email {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    & i {
      padding-right: 0.5em;
    }
  }

  &__social {
    width: 100%;
    padding-top: 1em;

    & #svg-behance {
      fill: #ffffff;
      transition: all 0.2s ease-out;
    }

    & #svg-dribbble {
      fill: #ffffff;
      transition: all 0.2s ease-out;
    }

    & #svg-facebook {
      fill: #ffffff;
      transition: all 0.2s ease-out;
    }

    & #svg-linkedin {
      fill: #ffffff;
      transition: all 0.2s ease-out;
    }
  }

  &__social-img {
    margin: 0.5em 1em 0 0;
  }

  &__links {
    ul li {
      padding: 0.3em 0;
    }

    ul li:first-child {
      padding-top: 1.2em;
    }

    ul li a {
      color: #fff;
      font-weight: 400;
    }
  }
}

//- Mobile-landscape (and larger)
//- ----------------------------------------------

@media (min-width: 576px) {
  // Navbar
  nav {
    /* Hides Hamburger Menu */
    & .menu,
    .nav__exit {
      display: none;
    }

    & #menu-btn {
      display: none;
    }

    & ul {
      visibility: unset;
      opacity: 1;
      background: none;
      display: flex;
      margin: 0;
      padding: 0;
      position: unset;
      height: auto;

      & li a {
        font-size: 0.9em;
        padding: 0 0 0 2.5em;
        font-weight: normal;
      }

      &.nav {
        &__exit a {
          position: absolute;
          top: -5px;
          right: -5px;
          color: #2b2a35;
        }

        &__item--active a {
          color: #7552f6;
        }
      }
    }
  }

  // Header
  header {
    padding: 0.1em;
  }

  // Hero
  .hero {
    &__content {
      width: 65%;
      font-size: 1.1em;
    }

    &__content-visual {
      width: 100%;
      margin: 0 auto;
    }
  }

  header,
  .hero,
  .services,
  .projects,
  .testimonials,
  footer {
    width: 95%;
    margin: 0 auto;
  }

  // Services
  .services {
    & .services__content-main {
      font-size: 1.1em;
      width: 75%;
      margin: 0 auto;
    }

    & .services__content-description {
      width: 70%;
      margin: 0 auto;
      padding-bottom: 2em;
    }

    // Soft Shadow
    &__card {
      width: 100%;
      margin: 2em auto;
      padding: 2em;
      background: white;
      border-radius: 0.4em;
      text-align: center;
      @include soft-shadow;

      & h3 {
        font-size: 1.3em;
      }
    }

    &__service-img {
      width: 45%;
      margin: 0 auto;
    }
  }

  // Projects
  .projects {
    & .projects__content-main {
      font-size: 1.1em;
      width: 75%;
      margin: 0 auto;
    }

    &__subtitle span {
      color: #7552f6;
    }

    &__work {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 3.5em;

      & .cell {
        flex: 0 0 32%;
        height: 100%;
        margin: 1em auto;
        background-color: #ffffff;
        box-shadow: horizontal vertical color;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

        & .projects-img {
          border-radius: 0.4em;
          background-position: center;
          transition: all 0.2s ease-out;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          filter: grayscale(100%);
        }

        & .projects-img:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

  // Testimonials
  .testimonials {
    & .testimonials__content-main {
      width: 75%;
      margin: 0 auto;
    }

    & h2 {
      padding-bottom: 2em;
    }

    // Soft Shadow
    &__card {
      width: 100%;
      margin: 3.5em auto;
      background: white;
      border-radius: 0.4em;
      text-align: center;
      @include soft-shadow;

      & span img {
        position: absolute;
        width: 60px;
        height: 60px;
        background: white;
        margin-top: -2em;
        border-radius: 50%;
        background: #e6c9ff;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      & h3 {
        font-size: 1.4em;
        font-weight: 700;
        padding: 2em 0 0.5em;
      }

      & h4 {
        font-weight: 700;
        padding: 0 0 1em;
      }

      & p {
        color: #969a9e;
        padding: 0 1.8em 3em;
      }
    }
  }
}

//- Tablet-portrait (and larger)
//- ----------------------------------------------

@media (min-width: 768px) {
  // Header
  header {
    padding: 0.1em;
  }

  // Navbar
  nav {
    & ul {
      visibility: unset;
      opacity: 1;
      background: none;
      display: flex;
      margin: 0;
      padding: 0;
      position: unset;
      height: auto;

      & li a {
        font-size: 0.9em;
        padding: 0 0 0 2.5em;
        font-weight: normal;
      }

      & .nav {
        &__exit a {
          position: absolute;
          top: -5px;
          right: -5px;
          color: #2b2a35;
        }

        &__item a {
          position: relative;
          transition: transform 0.5s ease;
        }

        &__item a:hover {
          color: #7552f6;
          transition: transform 0.5s ease;
          cursor: pointer;
        }

        &__item:hover a::before {
          transform-origin: bottom left;
          transform: scaleX(1);
        }

        &__item a::before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 36px;
          right: 0px;
          height: 2px;
          background-color: #7552f6;
          transform-origin: bottom right;
          transform: scaleX(0);
          transition: transform 0.5s ease;
        }

        &__item--active a {
          color: #7552f6;
        }
      }
    }
  }

  //Hero
  .hero__content {
    width: 65%;
  }

  header,
  .hero,
  .services,
  .projects,
  .testimonials,
  footer {
    width: 95%;
    margin: 0 auto;
  }

  // Services
  .services {
    & .services__content-main {
      width: 55%;
      margin: 0 auto;
    }

    & .services__content-description {
      width: 65%;
      margin: 0 auto;
    }

    // Soft Shadow
    &__card {
      width: 100%;
      margin: 2em auto;
      padding: 2em;
      background: white;
      border-radius: 0.4em;
      text-align: center;
      @include soft-shadow;

      & h3 {
        font-size: 1.3em;
      }

      & p {
        width: 100%;
        margin: 0 auto;
      }
    }

    &__service-img {
      width: 40%;
      margin: 0 auto;
    }
  }

  // Projects
  .projects {
    & .projects__content-main {
      width: 55%;
      margin: 0 auto;
    }
  }

  // Testimonials
  .testimonials {
    & .testimonials__content-main {
      width: 75%;
      margin: 0 auto;
    }

    // Soft Shadow
    &__card {
      width: 100%;
      margin: 3.5em auto;
      background: white;
      border-radius: 0.4em;
      text-align: center;
      @include soft-shadow;

      & span img {
        position: absolute;
        width: 60px;
        height: 60px;
        background: white;
        margin-top: -2em;
        border-radius: 50%;
        background: #e6c9ff;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      & h3 {
        font-size: 1.4em;
        font-weight: 700;
        padding: 2em 0 0.5em;
      }

      & h4 {
        font-weight: 700;
        padding: 0 0 1em;
      }

      & p {
        color: #969a9e;
        padding: 0 5em 3em;
      }
    }
  }
}

//- Tablet-landscape (and larger)
//- ----------------------------------------------

@media (min-width: 992px) {
  .flex {
    display: flex;
  }

  // Hero
  .hero {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
      font-size: 2.7em;
    }

    &__content {
      width: 100%;
      text-align: left;
      align-self: center;
    }

    &__description {
      margin-bottom: 0.9em;
    }

    &__content-visual {
      align-self: center;
      width: 100%;
    }

    &__sponsors {
      display: flex;
      width: 100%;
      margin: 4em auto 0;
    }
  }

  .hero,
  .services,
  .projects,
  .testimonials {
    margin-bottom: 5em;
  }

  // Services
  .services {
    & .services__content-main {
      text-align: left;
      padding-right: 1em;
    }

    & .services__content-description {
      width: 65%;
      padding: 1.5em 0 0.9em 0;
      text-align: left;
      align-self: center;
    }

    &__subtitle span {
      color: #7552f6;
    }

    &__cards {
      display: flex;
      height: 100%;
    }

    // Soft Shadow
    &__card {
      background: white;
      border-radius: 0.4em;
      text-align: center;
      @include soft-shadow;
    }

    &__card:nth-of-type(2) {
      margin: 2em 2em;
    }

    &__service-img {
      width: 60%;
      margin: 0 auto;
    }
  }

  // Projects
  .projects {
    & .projects__content-main {
      width: 80%;

      text-align: left;
    }

    &__cta {
      align-self: center;
      width: 25%;
    }

    &__subtitle span {
      color: #7552f6;
    }

    &__work {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2em;
      height: 100%;

      & .cell {
        flex: 1 1 45%;
        height: 100%;
        margin: 1em;
        background-color: #ffffff;
        box-shadow: horizontal vertical color;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

        & .projects-img {
          border-radius: 0.4em;
          background-position: center;
          transition: all 0.2s ease-out;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          filter: grayscale(100%);
        }

        & .projects-img:hover {
          filter: grayscale(0%);
        }
      }
    }
  }

  // Testimonials
  .testimonials {
    & .testimonials__content-main {
      width: 75%;
      margin: 0 auto;
    }

    &__cards {
      display: flex;
    }

    &__subtitle span {
      color: #7552f6;
    }

    // Soft Shadow
    &__card {
      width: 100%;
      padding: 2em 0;
      background: white;
      border-radius: 0.4em;
      text-align: center;
      @include soft-shadow;

      & span img {
        position: relative;
        width: 60px;
        height: 60px;
        background: white;
        margin-top: -4em;
        border-radius: 50%;
        background: #e6c9ff;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      & h3 {
        font-size: 1.4em;
        font-weight: 700;
        padding: 2em 0 0.5em;
      }

      & h4 {
        font-weight: 700;
        padding: 0 0 1em;
      }

      & p {
        color: #969a9e;
        padding: 0 2em 3em;
      }
    }

    &__card:nth-of-type(2) {
      margin: 3.5em 2em;
    }
  }

  // Footer
  .footer {
    background-color: #7552f6;
    color: #fff;

    &__content-main {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      text-align: left;
    }

    &__legal {
      & .hr {
        margin-top: 2em;
        width: 100%;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
      }

      & > p {
        padding: 2em 0 1em 0;
      }
    }

    &__info {
      padding: 2em 0em 0.5em;

      & h3 {
        font-size: 1.4em;
        font-weight: 700;
      }

      &__contact {
        & p {
          padding-bottom: 2em;
        }
      }
    }

    &__contact-email {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & i {
        padding-right: 0.5em;
      }
    }

    &__social {
      width: 100%;
      padding-top: 1em;

      & #svg-behance {
        fill: #ffffff;
        transition: all 0.2s ease-out;
      }

      & #svg-dribbble {
        fill: #ffffff;
        transition: all 0.2s ease-out;
      }

      & #svg-facebook {
        fill: #ffffff;
        transition: all 0.2s ease-out;
      }

      & #svg-linkedin {
        fill: #ffffff;
        transition: all 0.2s ease-out;
      }
    }

    &__social-img {
      margin: 0.5em 1em 0 0;
    }

    &__links {
      ul li {
        padding: 0.3em 0;
      }

      ul li:first-child {
        padding-top: 1.2em;
      }

      ul li a {
        color: #fff;
        font-weight: 400;
      }
    }
  }
}

//- Laptops (and larger)
//- ----------------------------------------------

@media (min-width: 1200px) {
  .flex {
    display: flex;
  }

  // Hero
  .hero {
    &__content {
      width: 100%;
      text-align: left;
      align-self: center;
    }

    &__description {
      margin-bottom: 0.9em;
    }

    &__content-visual {
      align-self: center;
      width: 100%;
    }
  }

  header,
  .hero,
  .services,
  .projects,
  .testimonials,
  footer {
    width: 70%;
    margin: 0 auto;
  }

  .hero,
  .services,
  .projects,
  .testimonials {
    margin-bottom: 5em;
  }

  // Services
  .services {
    & .services__content-main {
      padding-right: 1em;
      text-align: left;
    }

    & .services__content-description {
      width: 65%;
      padding: 1.5em 0 0.9em 0;
      text-align: left;
      align-self: center;
    }

    &__subtitle span {
      color: #7552f6;
    }

    &__cards {
      display: flex;
      height: 100%;
    }

    // Soft Shadow
    &__card {
      background: white;
      border-radius: 0.4em;
      text-align: center;
      transition: all 0.2s ease-out;
      @include soft-shadow;
    }

    &__card:nth-of-type(2) {
      margin: 2em 2em;
    }

    &__service-img {
      width: 60%;
      margin: 0 auto;
    }
  }

  // Projects
  .projects {
    & .projects__content-main {
      width: 100%;

      text-align: left;
    }

    &__cta {
      align-self: center;
      width: 25%;
    }

    &__subtitle span {
      color: #7552f6;
    }

    &__work {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 2em;
      height: 100%;

      & .cell {
        flex: 1 0 29%;
        height: 100%;
        margin: 1em;
        background-color: #ffffff;
        box-shadow: horizontal vertical color;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);

        & .projects-img {
          border-radius: 0.4em;
          background-position: center;
          transition: all 0.2s ease-out;
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          filter: grayscale(100%);
        }

        & .projects-img:hover {
          transform: scale(1.05);
          filter: grayscale(0%);
        }
      }
    }
  }

  // Testimonials
  .testimonials {
    & .testimonials__content-main {
      width: 75%;
      margin: 0 auto;
    }

    &__subtitle span {
      color: #7552f6;
    }
  }

  .hero__content-visual {
    align-self: center;
    width: 100%;
  }

  .hero__title {
    font-size: 2.7em;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
